.header_main-page .burger-button {
    &_active {
        position: fixed;
        top: 49px;
        right: 53px;
    }
}

.burger-button {
    display: none;
    @extend %transition;

    @include media-small {
        display: flex;
        align-self: center;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        z-index: 4;

        &:hover {
            cursor: pointer;
        }

        &_active {
            transform: rotate(90deg);

            &.burger-button::before,
            &.burger-button::after,
            &.burger-button span {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: $color-primary;
            }
        }

        &::before,
        &::after,
        & span {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: $color-primary;
        }

        &_dark {

            &::before,
            &::after,
            & span {
                background-color: $color-dark-xxl
            }
        }
    }
}

.burger__menu {
    & .logo {
        display: none;
    }

    @include media-small {
        display: flex;
        position: fixed;
        top: 0;
        right: -100%;
        width: 320px;
        height: 100vh;
        min-height: 600px;
        background-color: $color-dark-xl-2;
        padding: 30px 10px;
        z-index: 3;
        transition: .3s linear;

        &_active {
            right: 0;
        }

        & .logo {
            display: block;
            justify-content: flex-start;

            &__title {
                color: $color-primary;
            }

            &__subtitle {
                color: $color-light-xl;
            }
        }

        & .navigation {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 0;

            &>* {
                margin-right: 0;
                margin-bottom: 40px;
            }

            &>:last-child {
                margin-bottom: 0;
            }

            &__item {
                color: $color-dark-s;

                &_active {
                    color: $color-light-s;
                }

                &:hover {
                    color: $color-light-s;
                }

                &_inactive {
                    cursor: default;

                    &.navigation__item_light:hover {
                        color: $color-dark-s;
                    }

                    &.navigation__item_dark:hover {
                        color: $color-dark-s;
                    }
                }

                @include font($size: 3.2rem, $height: 160%);
            }
        }
    }

    @extend %transition;
}