.navigation {
    display: flex;
    list-style: none;
    margin: 16px 0 17px 0;
    padding: 0;

    &>* {
        margin-right: 35px;
    }

    &>:last-child {
        margin-right: 0;
    }
}

.navigation__item {
    position: relative;
    padding: 0 0.3px;
    @include font($size: 1.5rem, $height: 160%);
    @extend %transition;

    &_light {
        color: $color-dark-s;

        &_active {
            color: $color-light-s;
        }
    }

    &_light:hover {
        color: $color-light-s;
    }

    &_dark {
        color: $color-dark-l;

        &_active {
            color: $color-dark-xl-2;
        }
    }

    &_dark:hover {
        color: $color-dark-xl-2;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 3px;
        background: transparent;
    }

    &_active {
        &.navigation__item::after {
            background: $color-primary;
        }
    }

    &_inactive {
        cursor: default;

        &.navigation__item_light:hover {
            color: $color-dark-s;
        }

        &.navigation__item_dark:hover {
            color: $color-dark-l;
        }
    }
}