.pets__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px 0 30px 0;

    @include media-medium {
        width: 81.921%;
        padding: 15px 0 10px 0;

        /* & div:nth-child(7),
        & div:nth-child(8) {
            display: none;
        }*/
    }

    @include media-small {
        width: 100%;
        justify-content: center;
        padding: 27px 0 12px 0;

        /*& div:nth-child(n+4) {
            display: none;
        }*/
    }
}