.about {
    background-color: $color-light-xl;
}

.about__content {
    display: flex;
    justify-content: space-between;
    padding: 80px 175px 100px 175px;

    @include media-tablet {
        $width: 437px;
        flex-direction: column-reverse;
        padding: 65px calc(50% - #{$width / 2}) 100px calc(50% - #{$width / 2});
    }
}

.about__image {
    flex-basis: 35.29%;

    img {
        display: block;
        width: 100%;
    }

    @include media-tablet {
        flex-basis: auto;
        padding: 0 69px;
    }
}

.about__text {
    flex-basis: 50.59%;

    @include media-tablet {
        flex-basis: auto;
        margin-bottom: 80px;
    }

    &_paragraph {
        margin: 25px 0;
        color: #4C4C4C;
        @include font($size: 1.5rem, $height: 160%);
    }

    &_paragraph:last-child {
        margin-bottom: 0;
    }
}

.about__title {
    padding-right: 60px;
    color: $color-dark-l;
}