.header {
    width: 100%;
    padding: 30px 0;
    z-index: 1;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header_main-page {
    position: absolute;
    top: 30px;
    left: 0;
}