.wrapper {
    max-width: $content-width;
    padding: 0 40px;
    margin: auto;

    @include media-medium {
        padding: 0 30px;
    }

    @include media-small {
        padding: 0 10px;
    }
}