.button {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-xl-2;
    padding: 13px 43px;
    border-radius: 100px;
    outline: none;
    @extend %transition;

    &_bordered {
        background-color: transparent;
        border: 2px solid $color-primary;
    }

    &_colored {
        background-color: $color-primary;
        border: 2px solid $color-primary;
    }

    &:not(:disabled):hover {
        background-color: $color-secondary;
        border: 2px solid $color-secondary;
        cursor: pointer;
    }

    &:disabled {
        border-color: $color-dark-s;
    }
}

.round__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 52px;
    height: 52px;
    padding: 0;
    @include font($size: 2rem, $height: 115%);

    &.button_pagination {
        padding-bottom: 2px;
    }

    &_left:not(:disabled)::after {
        content: "";
        position: absolute;
        width: 14px;
        height: 6px;
        background-image: url('../../assets/icons/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        transform: rotateY(180deg);
    }

    &_right:not(:disabled)::after {
        content: "";
        position: absolute;
        width: 14px;
        height: 6px;
        background-image: url('../../assets/icons/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    &:disabled {
        color: $color-dark-s;
    }
}