$color-primary: #F1CDB3;
$color-secondary: #FDDCC4;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-xl-2: #292929;
$color-dark-background-full: #211F20;
$color-light-background: #5B483A;
$color-dark-background: #262425;
$color-dark-footer-1: #513D2F;
$color-dark-footer-2: #1A1A1C;
$color-dark-xxl: #000000;

$content-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;