<header class="header header_main-page">
    <div class="wrapper header__wrapper">
        <div class="logo">
            <a class="logo__link" href="#">
                <h1 class="logo__title logo__title_light">Cozy House</h1>
                <span class="logo__subtitle logo__subtitle_light">Shelter for pets in Boston</span>
            </a>
        </div>
        <div class="burger-button">
            <span></span>
        </div>
        <nav class="header__navigation burger__menu">
            <ul class="navigation">
                <a href="#">
                    <li class="navigation__item navigation__item_light item_active">About the shelter</li>
                </a>
                <a href="#">
                    <li class="navigation__item navigation__item_light">Our pets</li>
                </a>
                <a href="#">
                    <li class="navigation__item navigation__item_light">Help the shelter</li>
                </a>
                <a href="#">
                    <li class="navigation__item navigation__item_light">Contacts</li>
                </a>
            </ul>
        </nav>
        <div class="shadow__wrapper"></div>
    </div>
</header>