.carousel {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 30px 0 45px 0;

    @include media-medium {
        margin: 0 auto;
        width: 100%;
    }

    @include media-small {
        justify-content: center;
        position: relative;
        padding: 12px 0 57px 0;
        margin: 0 auto 42px auto;
    }
}

.carousel__arrow {
    display: flex;
    align-items: center;

    @include media-small {
        position: absolute;
        bottom: 0;

        &:first-child {
            left: 58px;
        }

        &:last-child {
            right: 58px;
        }
    }
}

.carousel__content {
    display: flex;
    justify-content: space-between;
    flex-basis: 82.5%;

    @include media-medium {
        flex-basis: 82%;

        & div:last-child {
            display: none;
        }
    }

    @include media-small {

        & div:nth-child(2) {
            display: none;
        }
    }
}