.carousel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 45px 0 60px 0;

    @include media-medium {
        margin: 0 auto;
    }

    @include media-small {
        justify-content: center;
        position: relative;
        padding: 27px 0 72px 0;
        margin: 0 auto 42px auto;
    }
}

.carousel__arrow {
    display: flex;
    align-items: center;

    @include media-small {
        position: absolute;
        bottom: 0;

        &:first-child {
            left: 58px;
        }

        &:last-child {
            right: 58px;
        }
    }
}

.carousel__wrapper {
    position: relative;
    width: 82.5%;
    height: 435px;

    @include media-medium {
        width: 82%;
    }

    @include media-small {
        width: 90%;
    }
}

.carousel__content {
    $gap: 90px;
    $cards_quantity: 3;
    $card_width: 270px;
    $width: #{$card_width * $cards_quantity + $gap * ($cards_quantity - 1)};

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: $width;
    transition: left .3s linear;

    @include media-medium {
        $gap: 40px;
        $cards_quantity: 2;
        $width: #{$card_width * $cards_quantity + $gap * ($cards_quantity - 1)};
        width: $width;
    }

    @include media-small {
        $gap: 0;
        $cards_quantity: 1;
        $width: #{$card_width * $cards_quantity + $gap * ($cards_quantity - 1)};
        width: $width;
    }
}