.logo__link {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.logo__subtitle {
    display: flex;
    align-self: flex-end;
    letter-spacing: 0.1em;
    color: $color-light-xl;
    @include font($size: 1.3rem, $height: 1.5rem);
}