.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo__link {
    display: flex;
    flex-direction: column;
}

.logo__title {
    &_light {
        color: $color-primary;
    }

    &_dark {
        color: $color-dark-l;
    }
}

.logo__subtitle {
    display: flex;
    align-self: flex-end;
    letter-spacing: 0.1em;
    @include font($size: 1.3rem, $height: 1.5rem);

    &_light {
        color: $color-light-xl;
    }

    &_dark {
        color: $color-dark-xl-2;
    }
}