.navigation {
    display: flex;
    gap: 35px;
    list-style: none;
    margin: 16px 0 17px 0;
    padding: 0;
}

.navigation__item {
    position: relative;
    padding: 0 0.3px;
    @include font($size: 1.5rem, $height: 160%);
    @extend %transition;

    &_light {
        color: $color-dark-s;

        &.item_active {
            color: $color-light-s;
        }
    }

    &_light:hover {
        color: $color-light-s;
    }

    &_dark {
        color: $color-dark-l;

        &.item_active {
            color: $color-dark-xl-2;
        }
    }

    &_dark:hover {
        color: $color-dark-xl-2;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 3px;
        background: transparent;
    }
}

.item_active {
    &.navigation__item::after {
        background: $color-primary;
    }
}