.donation {
    background-color: $color-light-l;
}

.donation__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 0 100px 0;

    @include media-medium {
        flex-direction: column-reverse;
        align-items: center;
    }

    @include media-small {
        padding: 42px 0 42px 0;
    }
}

.donation__image {
    flex-basis: 53.92%;
    padding: 12px 0 0 142px;

    @include media-medium {
        flex-basis: auto;
        padding: 60px 101px 0 102px;
    }

    @include media-small {
        padding: 43px 20px 0 20px;
    }

    & img {
        display: block;
        max-width: 100%;
        margin: auto;
    }
}

.donation__text {
    flex-basis: 43.58%;
    padding: 0 142px 0 0;

    @include media-medium {
        width: 53.673%;
        flex-basis: auto;
        padding: 0;
    }

    @include media-small {
        width: 100%;
        padding: 0 10px;
    }

    & a {
        display: block;
        line-height: 43px;
        margin-bottom: 19px;

        @include media-small {
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

.donation__title {
    width: 80%;
    margin-top: 0;
    color: $color-dark-l;

    @include media-small {
        width: auto;
        margin: 0 28px 15px 28px;
    }
}

.donation__paragraph {
    font-family: Georgia;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    margin: 22px 0 21px 0;
    @include font($size: 1.5rem, $height: 110%);

    @include media-medium {
        margin-top: 21px;
    }

    @include media-small {
        text-align: center;
        letter-spacing: 0;
        margin: 24px 0 24px 0;
    }
}

.donation__legal-info {
    color: $color-dark-m;
    @include font($size: 1.2rem, $height: 1.5rem, $style: italic);

    @include media-small {
        display: inline-block;
        line-height: 1.8rem;
        text-align: justify;
    }
}

.donation__credit-card {
    font-family: Georgia;
    position: relative;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    background: $color-primary;
    padding: 10px 15px 10px 60px;
    border-radius: 9px;
    @include font($size: 2rem, $height: 115%);

    @include media-small {
        padding: 13px 14px 13px 60px;
        @include font($size: 1.5rem, $height: 110%);
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 15px;
        top: 10px;
        height: 23px;
        width: 30px;
        border-radius: 0px;
        background-image: url("/assets/icons/credit-card.svg");
    }
}